.user-data {
    flex-grow: 9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-data p.user-name {
    margin-right: 2vw;
    transition: color font-weight 100ms ease-in-out;
}

.user-data p.user-name:hover {
    color: #ff8800;
    font-weight: bold;
    cursor: auto;
    transition: color font-weight 100ms ease-in-out;
}

.user-data .user-coins {
    display: inline-flex;
    margin-right: 4vw;
    background-color: #eee;
    border-radius: 50px;
    align-items: center;
    padding: 0.75%;
    transition: background-color 100ms ease-in-out;
}

.user-data .user-coins:hover {
    background-color: rgba(18,201,247, 0.7);
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
}

.user-data .user-coins p.coins-amount{
    padding: 0 1vw;
    margin: 10px 0;
}
